.middleOfSuper {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.content {
  padding: 50px;
}

#bpmLabel {
  text-align: center;
  width: 50px;
  margin: 10px;
}

#bpmSlider {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}

#startButton {
  width: 100px;
  margin: 0 auto;
  padding: 15px;
}
